## Exercise 01

### 1

In [11]:
empty_tuple = ()

### 2

In [12]:
brothers = ('Mahdi' , 'Gholam' , 'Hasan' , 'Asghar')
sisters = ('Kobra' , 'Sheida' , 'Nafas' , 'Soosan')

### 3

In [13]:
siblings = brothers + sisters
print(siblings , '\n' , type(siblings))

('Mahdi', 'Gholam', 'Hasan', 'Asghar', 'Kobra', 'Sheida', 'Nafas', 'Soosan')
 <class 'tuple'>

### 4

In [14]:
number_of_siblings = len(siblings)
print(f'number of siblings: {number_of_siblings}')

number of siblings: 8

### 5

In [16]:
family_members = siblings + ('Ahmad' , 'Kolsoom')
print(family_members , '\n' , type(family_members))

('Mahdi', 'Gholam', 'Hasan', 'Asghar', 'Kobra', 'Sheida', 'Nafas', 'Soosan', 'Ahmad', 'Kolsoom')
 <class 'tuple'>

## Exercise 02

### 1

In [50]:
fruits = ('Banana' , 'Apple' ,  'Orange')
vegetables = ('Cucumber' , 'Carrot' , 'Yam')
animal_products = ('Ham' , 'Meet' , 'Milk')

### 2

In [51]:
food_stuff_tp = fruits + vegetables + animal_products
food_stuff_tp

('Banana',
 'Apple',
 'Orange',
 'Cucumber',
 'Carrot',
 'Yam',
 'Ham',
 'Meet',
 'Milk')

### 3

In [52]:
food_stuff_lt = list(food_stuff_tp)
food_stuff_lt

['Banana',
 'Apple',
 'Orange',
 'Cucumber',
 'Carrot',
 'Yam',
 'Ham',
 'Meet',
 'Milk']

### 4

In [53]:
middle_item = food_stuff_lt.pop(len(food_stuff_tp)//2)
print(f'Middle item: {middle_item} \nNew list: {food_stuff_lt}')

Middle item: Carrot
New list: ['Banana', 'Apple', 'Orange', 'Cucumber', 'Yam', 'Ham', 'Meet', 'Milk']

### 5

In [54]:
first_three_items = food_stuff_lt[:3]
last_three_items = food_stuff_lt[-4:-1]
print(f'first three items: {first_three_items} \nlast_three_items: {last_three_items}')

first three items: ['Banana', 'Apple', 'Orange']
last_three_items: ['Yam', 'Ham', 'Meet']

### 6

In [55]:
del food_stuff_tp

In [56]:
food_stuff_tp

NameError: name 'food_stuff_tp' is not defined

## Exercise 03

In [57]:
nordic_countries = ('Denmark','Finland','Iceland','Norway','Sweden')

### 1

In [58]:
if 'Estonia' in nordic_countries:
    print(True)
else:
    print(False)

False

### 2

In [59]:
if 'Iceland' in nordic_countries:
    print(True)
else:
    print(False)

True