## Exercise 01

In [16]:
it_companies = {'Facebook','Google','Microsoft',
                'Apple','IBM','Oracle','Amazon'}

### 1

In [17]:
print(f"lemngth of set: {len(it_companies)}")

lemngth of set: 7

### 2

In [18]:
it_companies.add('Twitter')
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

### 3

In [19]:
it_companies.update({'Digikala' , 'Sanpp' , 'Divar'})
it_companies

{'Amazon',
 'Apple',
 'Digikala',
 'Divar',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Sanpp',
 'Twitter'}

### 4

In [20]:
it_companies.remove('Google')
it_companies

{'Amazon',
 'Apple',
 'Digikala',
 'Divar',
 'Facebook',
 'IBM',
 'Microsoft',
 'Oracle',
 'Sanpp',
 'Twitter'}

### 5

the remove() method will raise an error if the specified item does not exist, and the discard() method will not.

## Exercise 02

In [21]:
age = [22,19,24,25,26,24,25,24]

In [22]:
age_set = set(age)
age_set

{19, 22, 24, 25, 26}

In [24]:
print(f'length of list: {len(age)}')
print(f'length of set: {len(age_set)}')

length of list: 8
length of set: 5

length of list is bigger than length of set because there are no duplicate items in set.

## Exercise 03

In [26]:
sentence = "I am a teacher and I love to inspire and teach people."
words = sentence.split()
print(f'words: {words}')
unique_words = set(words)
print(f'unique words: {unique_words}')

words: ['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people.']
unique words: {'am', 'people.', 'and', 'inspire', 'love', 'teach', 'teacher', 'I', 'a', 'to'}

In [27]:
print(f'number of unique words: {len(unique_words)}')

number of unique words: 10