## Exercise 01

### 1

In [1]:
dog = {}

### 2

In [3]:
dog["name"] = "Hero"
dog["color"] = "cream"
dog["breed"] = "Sarab"
dog["legs"] = 4
dog["age"] = 2
dog

{'name': 'Hero', 'color': 'cream', 'breed': 'Sarab', 'legs': 4, 'age': 2}

## Exercise 02

### 1

In [18]:
student = {'first_name' : 'Amirreza' , 'last_name' : 'Rahimi' ,
          'gender' : 'male' , 'age' : 21 , 'skills' : ['math', 'programming'],
         'country' : 'Iran' , 'city' : 'Tehran' , 'address' : 'Naziabad'}
sudent

{'first_name': 'Amirreza',
 'last_name': 'Rahimi',
 'gender': 'male',
 'age': 21,
 'skills': ['math', 'programming'],
 'country': 'Iran',
 'city': 'Tehran',
 'address': 'Naziabad'}

### 2

In [19]:
print(f"length of student dictionary is {len(student)}")

length of student dictionary is 8

### 3

In [20]:
print(f"value of skills: {student['skills']}")

value of skills: ['math', 'programming']

In [21]:
print(f"data type: {type(student['skills'])}")

data type: <class 'list'>

### 4

In [22]:
student['skills'].append('painting')
student['skills']

['math', 'programming', 'painting']

### 5

In [23]:
keys = list(student.keys())
keys

['first_name',
 'last_name',
 'gender',
 'age',
 'skills',
 'country',
 'city',
 'address']

### 6

In [24]:
values = list(student.values())
values

['Amirreza',
 'Rahimi',
 'male',
 21,
 ['math', 'programming', 'painting'],
 'Iran',
 'Tehran',
 'Naziabad']

### 7

In [26]:
list_of_tuples = list(student.items())
list_of_tuples

[('first_name', 'Amirreza'),
 ('last_name', 'Rahimi'),
 ('gender', 'male'),
 ('age', 21),
 ('skills', ['math', 'programming', 'painting']),
 ('country', 'Iran'),
 ('city', 'Tehran'),
 ('address', 'Naziabad')]

### 8

In [27]:
del student["city"]
student

{'first_name': 'Amirreza',
 'last_name': 'Rahimi',
 'gender': 'male',
 'age': 21,
 'skills': ['math', 'programming', 'painting'],
 'country': 'Iran',
 'address': 'Naziabad'}

### 9

In [28]:
del student

In [29]:
student

NameError: name 'student' is not defined